<!-- <div class="container">
  <div class="image">
    <button mat-button class="avatar">
      <mat-icon>account_circle</mat-icon>
      some logged in user
    </button>
  </div>
</div> -->

<div class="example-container" [class.example-is-mobile]="isMobile">
  <mat-toolbar color="primary" class="example-toolbar mat-elevation-z10">
    <button mat-icon-button (click)="toggle()" *ngIf="isMobile">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="isMobile ? 'over' : 'side'" class="mat-elevation-z1 side-nav">
      <mat-card>

      </mat-card>
      <!-- <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list> -->
    </mat-sidenav>

    <mat-sidenav-content>
      media matcher {{isMobile}}
      <br>nav status {{opened?'opened':'closed'}}
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
