/* You can add global styles to this file, and also import other style files */

html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cover-all {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card::after {
  content: '';
  padding: 0.1rem;
  box-shadow: 2px 2px 5px #ccc;
}

.card {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.card-title {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #ccc;
}

.card-content {}

.card-actions {
  justify-self: flex-end;
}
